{% extends "login_signup/base.html" %}

{% block title %}Login{% endblock %}

{% block form %}
<form class="main_form" method="post" action="/login">
                
    <div id="form_message_div">
        <h2>Faça seu login!</h2>
        <img src="../static/img/emoji_feliz.png">
    </div>

    <p id="error_message"></p>

    <div class="input_div">
        <label for="email">E_mail</label>
        <input id="email" name="email" type="text">
    </div>

    <div class="input_div">
        <label for="password">Senha</label>
        <input id="password" name="password" type="password">
    </div>

    <button id="login_bt" type="submit">Fazer login</button>
    <button id="signup_bt" type="button">Fazer signup</button>
</form>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}

