{% extends "login_signup/base.html" %}

{% block title %}Signup{% endblock %}

{% block form %}
<form class="main_form" method="post" action="/signup">
                
    <div id="form_message_div">
        <h2>Faça seu registro!</h2>
        <img src="../static/img/emoji_feliz.png">
    </div>

    <p id="error_message"></p>

    <div class="input_div">
        <label for="name">Nome</label>
        <input id="name" name="name" type="text">
    </div>

    <div class="input_div">
        <label for="email">E_mail</label>
        <input id="email" name="email" type="text">
    </div>

    <div class="input_div">
        <label for="password">Senha</label>
        <input id="password" name="password" type="password">
    </div>

    <button id="signup_bt" type="submit">Fazer signup</button>
    <button id="login_bt" type="button">Fazer login</button>
</form>
{% endblock %}

{% block script %}
<script>
    const login_bt = document.getElementById("login_bt");
    login_bt.addEventListener("click", go_to_login);

    function go_to_login() {
        window.location.href = "/login"
    }
</script>
{% endblock %}